code/flows/FL_Cr_Onsite_Service_1-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>ch_Book_Appleseeds</name>
        <choiceText>Appleseeds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appleseeds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Book_Opt_Lending</name>
        <choiceText>Lending</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Book_opti_Purchase</name>
        <choiceText>Purchase</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Book_People</name>
        <choiceText>People</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>People</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Books</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Books / Magazines&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Books_Fitness</name>
        <choiceText>Fitness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fitness</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Books_NationalGeographic</name>
        <choiceText>National Geographic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Geographic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Books_Time</name>
        <choiceText>Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Dinning_Time1</name>
        <choiceText>4:00:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Dinning_time3</name>
        <choiceText>6:00:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Dinning_Time_2</name>
        <choiceText>5:00:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Dirction_Hospital</name>
        <choiceText>Hospital Directions</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Direction_RoomInfo</name>
        <choiceText>Room Number Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Directions</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Hospital / Room # Directions&lt;/B&gt;&lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Facilities</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Facilities Requests&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Facility_Done</name>
        <choiceText>Request Completed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Facility_FollowUp</name>
        <choiceText>Follow Up needed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Others</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Others - Dinning Reservation with OpenTable.com&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Research</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Information Services / Research&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Rounds</name>
        <choiceText>Rounds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rounds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Source_OnSite</name>
        <choiceText>On Site</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Source_Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Stamps</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Stamps / Shipping&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Trans_bestLimo</name>
        <choiceText>Best Limo (888) BestCar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Trans_Express</name>
        <choiceText>Airport Express (617) Express</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Trans_Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_TransCompany</name>
        <choiceText>Boston Taxi - (617)111-1111</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_Transportation</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Limo / Car / Taxi / Air&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <description>basic cost for each stamp</description>
        <name>Con_Stamps_cost</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.36</numberValue>
        </value>
    </constants>
    <decisions>
        <name>DS_Facilities</name>
        <label>Facilities Request Next</label>
        <locationX>791</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Sc_FacilitiesCompletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Oc_Facility_FollowUp_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Facility_FollowUp</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Facility_Case_Closed_0</targetReference>
            </connector>
            <label>Follow Up Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>DS_Service_type</name>
        <label>Service Type?</label>
        <locationX>464</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Screen_Dinning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Oc_Stamps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Stamps</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeSc_Stamps</targetReference>
            </connector>
            <label>Stamps</label>
        </rules>
        <rules>
            <name>Oc_Direction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Directions</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sc_Direction_Detail</targetReference>
            </connector>
            <label>Direction</label>
        </rules>
        <rules>
            <name>Oc_Reserach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Research</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Reserach</label>
        </rules>
        <rules>
            <name>Oc_Books</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Books</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Books</targetReference>
            </connector>
            <label>Books</label>
        </rules>
        <rules>
            <name>Oc_Facilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Facilities</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sc_Facilities</targetReference>
            </connector>
            <label>Facilities</label>
        </rules>
        <rules>
            <name>Oc_Transportation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ch_Transportation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Transportation_detial</targetReference>
            </connector>
            <label>Transportation</label>
        </rules>
    </decisions>
    <formulas>
        <name>TotalCostofStamps</name>
        <expression>{!Fd_Number_Stamps} * {!Fd_Cost_Per_stamp}</expression>
        <scale>2</scale>
    </formulas>
    <label>Cr Onsite Service begin Flow</label>
    <recordCreates>
        <name>Cr_Book_Case_0</name>
        <label>Create Books Case</label>
        <locationX>632</locationX>
        <locationY>524</locationY>
        <assignRecordIdToReference>CaseNumber</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>In_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Books_name__c</field>
            <value>
                <elementReference>Ch_Mul_Books</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FD_Book_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Fd_Book_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Books/Magazines</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Cr_Facility_Case_Closed</name>
        <label>Create Closed Facility Case</label>
        <locationX>794</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>CaseNumber</assignRecordIdToReference>
        <connector>
            <targetReference>DS_Facilities</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>In_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Fd_Facility_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Fd_Book_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FD_Facility_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Facilities Requests</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Cr_Facility_Case_Closed_0</name>
        <label>Create Closed Facility Case</label>
        <locationX>790</locationX>
        <locationY>571</locationY>
        <assignRecordIdToReference>CaseNumber</assignRecordIdToReference>
        <connector>
            <targetReference>sc_Facilities_Followup_final</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>In_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Follow Up Action from request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Fd_Book_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FD_Facility_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Facilities Requests</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Cr_Stamp_Case</name>
        <label>Create Stamp Case</label>
        <locationX>52</locationX>
        <locationY>495</locationY>
        <assignRecordIdToReference>CaseNumber</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>In_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>On Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Stamps/Shipping</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Geocode_Lookup</name>
        <label>Geocode Lookup</label>
        <locationX>1005</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>sc_Dinning_Links</targetReference>
        </connector>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FD_Dinning_Location</elementReference>
            </value>
        </filters>
        <object>GeoCode_Lookup__c</object>
        <outputAssignments>
            <assignToReference>GeoLatitude</assignToReference>
            <field>Location_for_OpenTable__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DeSc_Stamps</name>
        <label>Stamp Purchase Detail</label>
        <locationX>54</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Sc_Stamps_Final</targetReference>
        </connector>
        <fields>
            <name>Fd_Number_Stamps</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;# Stamps&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Fd_Cost_Per_stamp</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.36</numberValue>
            </defaultValue>
            <fieldText>Cost Per Stamp</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
    </screens>
    <screens>
        <name>SC_Books</name>
        <label>Books &amp; Magazines Request</label>
        <locationX>625</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Sc_Books_Summary</targetReference>
        </connector>
        <fields>
            <name>Ch_Mul_Books</name>
            <choiceReferences>ch_Book_Appleseeds</choiceReferences>
            <choiceReferences>Ch_Books_NationalGeographic</choiceReferences>
            <choiceReferences>Ch_Books_Fitness</choiceReferences>
            <choiceReferences>Ch_Books_Time</choiceReferences>
            <choiceReferences>Ch_Book_People</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Books / Magazines Tittles</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ch_Book_Options</name>
            <choiceReferences>Ch_Book_opti_Purchase</choiceReferences>
            <choiceReferences>Ch_Book_Opt_Lending</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fd_Book_Source</name>
            <choiceReferences>Ch_Source_OnSite</choiceReferences>
            <choiceReferences>Ch_Source_Phone</choiceReferences>
            <choiceReferences>Ch_Rounds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Book_Delivery</name>
            <dataType>Boolean</dataType>
            <fieldText>Delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FD_Book_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sc_Books_Summary</name>
        <label>Books / Magazines Summary</label>
        <locationX>633</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Cr_Book_Case_0</targetReference>
        </connector>
        <fields>
            <name>sc_book_thanks</name>
            <fieldText>Hope you enjoy the books that you have selected:

{!Ch_Mul_Books}

Please bring it back once you completed, or we can pick it up if you give us a call.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>sc_Dinning_Links</name>
        <label>Open Table Reservation Link</label>
        <locationX>1007</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>CreateReservation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:48px&quot; COLOR=&quot;#009900&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://{!Locationifno}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Reservation&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Link</name>
            <fieldText>{!Locationifno}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sc_Direction_Detail</name>
        <label>Hospital / Room # Direction</label>
        <locationX>272</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Fd_Direction_type</name>
            <choiceReferences>Ch_Dirction_Hospital</choiceReferences>
            <choiceReferences>Ch_Direction_RoomInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direction Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fd_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Source</name>
            <choiceReferences>Ch_Source_OnSite</choiceReferences>
            <choiceReferences>Ch_Source_Phone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ch_Source_OnSite</defaultSelectedChoiceReference>
            <fieldText>Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sc_Facilities</name>
        <label>Facilities Request</label>
        <locationX>795</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Cr_Facility_Case_Closed</targetReference>
        </connector>
        <fields>
            <name>FD_Facilities_Ch</name>
            <choiceReferences>Ch_Source_OnSite</choiceReferences>
            <choiceReferences>Ch_Source_Phone</choiceReferences>
            <choiceReferences>Ch_Rounds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fd_Facility_Desc</name>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Facility_Location</name>
            <dataType>String</dataType>
            <fieldText>Requested Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Request_Result</name>
            <choiceReferences>Ch_Facility_Done</choiceReferences>
            <choiceReferences>Ch_Facility_FollowUp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Result</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>sc_Facilities_Followup_final</name>
        <label>Facilities Request Follow Up Action Summary</label>
        <locationX>795</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Lbs_followupresult</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Follow up Case has been created, Case # &lt;FONT KERNING=&quot;1&quot;&gt;{!CaseNumber} with 4 hrs completion time.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sc_FacilitiesCompletion</name>
        <label>Great Job</label>
        <locationX>1001</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Lbs_Facilitycompletion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:48px&quot; COLOR=&quot;#00CC00&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Great Job!!!!! You are done and ready for more services&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SC_Onsite_L1</name>
        <label>Onsite Services Log</label>
        <locationX>458</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>DS_Service_type</targetReference>
        </connector>
        <fields>
            <name>L_Welcome</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#006600&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome to Onsite Concierge Services for &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;B&gt;.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!In_AccountName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select a Sevices Type to begin&lt;FONT STYLE=&quot;font-size:18px&quot;&gt;...&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RB_Service_Type</name>
            <choiceReferences>Ch_Stamps</choiceReferences>
            <choiceReferences>Ch_Directions</choiceReferences>
            <choiceReferences>Ch_Research</choiceReferences>
            <choiceReferences>Ch_Books</choiceReferences>
            <choiceReferences>Ch_Facilities</choiceReferences>
            <choiceReferences>Ch_Transportation</choiceReferences>
            <choiceReferences>Ch_Others</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009900&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Service Type&lt;/B&gt;&lt;FONT COLOR=&quot;#FF6600&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sc_Stamps_Final</name>
        <label>Thanks for Stamps Purchase</label>
        <locationX>58</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Cr_Stamp_Case</targetReference>
        </connector>
        <fields>
            <name>Stampsfinal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#003300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thanks for Purchase Stamps.  Final cost for your order of:&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;B&gt;&lt;U&gt;{!Fd_Number_Stamps} &lt;/U&gt;&lt;/B&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;Stamps is &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt; ${!TotalCostofStamps}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#003300&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sc_Trans_result</name>
        <label>Your Transportation Request Detail</label>
        <locationX>461</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Trans_Final</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your request of Transportation has been scheduled with &lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot;&gt;{!FD_Trans_Company}&lt;/FONT&gt;.  We will Contact you once they are here.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>sc_Transportation_detial</name>
        <label>Limo / Car/ Taxi</label>
        <locationX>460</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Sc_Trans_result</targetReference>
        </connector>
        <fields>
            <name>DF_Trans_Source</name>
            <choiceReferences>Ch_Source_OnSite</choiceReferences>
            <choiceReferences>Ch_Source_Phone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ch_Source_OnSite</defaultSelectedChoiceReference>
            <fieldText>Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fd_Request_Loc</name>
            <dataType>String</dataType>
            <fieldText>Requestor Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fd_Trans_Destination</name>
            <fieldText>Destination</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Trans_Company</name>
            <choiceReferences>Ch_TransCompany</choiceReferences>
            <choiceReferences>Ch_Trans_Express</choiceReferences>
            <choiceReferences>Ch_Trans_bestLimo</choiceReferences>
            <choiceReferences>Ch_Trans_Others</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ch_Trans_bestLimo</defaultSelectedChoiceReference>
            <fieldText>Transportation Company</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Trans_Additional_Info</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Trans_RequestResult</name>
            <dataType>Boolean</dataType>
            <fieldText>Request not Successful</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fd_Trans_UnSec_reason</name>
            <fieldText>Reason Request Was Not Successfull</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Screen_Dinning</name>
        <label>Dinning reservation</label>
        <locationX>1006</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Geocode_Lookup</targetReference>
        </connector>
        <fields>
            <name>FD_Dinning_People</name>
            <dataType>Number</dataType>
            <fieldText># of People</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Fd_Dinning_Dt</name>
            <dataType>Date</dataType>
            <fieldText>Reservation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Dinning_Time</name>
            <choiceReferences>ch_Dinning_Time1</choiceReferences>
            <choiceReferences>ch_Dinning_Time_2</choiceReferences>
            <choiceReferences>ch_Dinning_time3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dinning Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Dinning_Location</name>
            <dataType>String</dataType>
            <fieldText>Location (City)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Zip</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FD_Dining_Comments</name>
            <fieldText>Special Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>SC_Onsite_L1</startElementReference>
    <textTemplates>
        <name>Locationifno</name>
        <text>www.opentable.com/opentables.aspx?{!GeoLatitude}&amp;ula={!FD_Dinning_Location},{!FD_State}, USA&amp;t=loc&amp;mode=startgeosearch&amp;m=10&amp;p={!FD_Dinning_People}&amp;d={!Fd_Dinning_Dt} {!FD_Dinning_Time}</text>
    </textTemplates>
    <textTemplates>
        <description>text format for choice</description>
        <name>TxtFm</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$GlobalConstant.EmptyString}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <variables>
        <name>Booksselections</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Ch_Mul_Books</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Latitude</description>
        <name>GeoLatitude</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeoLongitude</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account Id from Import</description>
        <name>In_AccountId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Name</description>
        <name>In_AccountName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Boston Children&apos;s Hospital</stringValue>
        </value>
    </variables>
</Flow>
